<h2>Give a review</h2>
<hr />
<!-- ngForm is automatically added to a form -->
<form class="form-horizontal" (ngSubmit)="submitReview( form.value )" #form="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': reviewerEl.invalid && ( reviewerEl.dirty || reviewerEl.touched ) }"> <!-- explore ngStyle for conditional inline styles -->
        <label class="control-label col-sm-3" for="reviewer">Reviewer</label>
        <div class="col-sm-9">
            <input type="text" id="reviewer" name="reviewer" [(ngModel)]="review.reviewer" class="form-control" required minlength="3" maxlength="10" #reviewerEl="ngModel" />
            <div class="text-danger" *ngIf="reviewerEl.invalid && ( reviewerEl.dirty || reviewerEl.touched )">
                {{getErrorMessage( reviewerEl )}}
            </div>
            <!--  pattern -->
            <!--
            <p>Valid: {{ reviewerEl.valid }}</p>
            <p>Invalid: {{ reviewerEl.invalid }}</p>        
            -->
            <!--
            <p>Dirty: {{reviewerEl.dirty}}</p>
            <p>Pristine: {{reviewerEl.pristine}}</p>
            -->
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="starRating">Rating</label>
        <div class="col-sm-9">
            <select id="starRating" name="starRating" #ratingEl="ngModel" [(ngModel)]="review.starRating" class="form-control" required>
                <option value="">--Select a rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <!--
        <p>Touched: {{ratingEl.touched}}</p>
        <p>Untouched: {{ratingEl.untouched}}</p>
        -->
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="title">Title for your review</label>
        <div class="col-sm-9">
            <input type="text" id="title" name="title" required [(ngModel)]="review.title" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="text">Review</label>
        <div class="col-sm-9">
            <input type="text" id="text" name="text" required [(ngModel)]="review.text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <input type="reset" value="Reset" class="btn btn-default" />
            &nbsp;
            <input type="submit" value="Post review" class="btn btn-primary" [disabled]="form.invalid" />
        </div>
    </div>
    <p>Valid : {{form.valid}}</p>
    <p>Invalid : {{form.invalid}}</p>
    <p>Dirty : {{form.dirty}}</p>
    <p>Pristine : {{form.pristine}}</p>
    <p>Touched : {{form.touched}}</p>
    <p>Untouched : {{form.untouched}}</p>
</form>