<div class="container">
    <h2>Product Catalog</h2>
    <hr />
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Filter</label>
            <div class="col-sm-9">
                <input type="text" placeholder="Type in here to filter by product name" class="form-control" [(ngModel)]="filterKey" [ngModelOptions]="{standalone: true}" (input)="filterProducts()" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="button" value="Clear Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <table class="table table-striped table-bordered products-table">
        <thead>
            <tr>
                <th>
                    Image
                    <button (click)="toggleImage()" class="btn btn-primary btn-sm">{{ isImageVisible ? 'Hide' : 'Show'}}</button>
                </th>
                <th>Name</th>
                <th>Item code</th>
                <th>Description</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of filteredProducts">
                <td><img src={{product.imageUrl}} *ngIf="isImageVisible" /></td>
                <td>
                    <!--
                        <a [routerLink]="['products', product.id]">{{product.name}}</a>
                    -->
                    <a [routerLink]="product.id">{{product.name}}</a>
                </td>
                <td>{{product.code}}</td>
                <td>{{product.description | ellipsize:20}}</td>
                <td>{{product.price | currency:'INR':'symbol':'1.2-2'}}</td>
                <!--<td>{{product.starRating}}</td>-->
                <td><app-rating [rating]="product.starRating" (ratingClick)="handleRatingClick( $event )"></app-rating></td>
            </tr>
        </tbody>
    </table>
</div>
